body {
  font-family: Arial;
  background: linear-gradient(to right, #141e30, #243b55);
  color: white;
  text-align: center;
  padding: 50px;
}

section {
  background: rgba(255,255,255,0.1);
  padding: 30px;
  border-radius: 12px;
  display: inline-block;
}
